.container {
    display: grid;
    grid-template-columns: repeat(2, 330px);
    gap: 30px !important;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card1 {
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width: fit-content;
}

.badge1 {
    color: #86928B;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.episode1 {
    color: #2C2D35;
    font-weight: 500;
    font-size: 24px;
    list-style: 100%;
    margin-bottom: 8px;
}

.title1 {
    color: #2C2D35;
    font-weight: 500;
    font-size: 16px;
    list-style: 100%;
    margin-bottom: 30px;
}

.subtitle1 {
    color: #598D66;
    font-weight: 500px;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 20px;
}

.button1 {
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    width: 250px;
    height: 50px;
}